/* NUEVO CSS */
:root {
  --primary-color: #E6E6FA;
  /* Lavender*/
  --secondary-color: #152b4a;
  /* Blue Marine*/
  --text-color: #DCDCDC;
  /*gris blanco*/
  --disabled-color: #cccccc;
  /* Light Gray */
  --success-color: #04fc43;
  /* Green */
  --info-color: #fee800;
  /* Yellow */
  --highlight-color: #ff2972;
  /* Pink */
  --marcaagua: rgba(218, 218, 218, 0.2);
  --opacidadgeneral: rgba(218, 218, 218, 0.15);

  --text-notes: #0c1729;
  /* --text-notes: rgba(223, 223, 223, 0.6); */
  --text-placeholder: rgba(12, 23, 41, 0.603);
}

/* Práctica recomendada: aplicar box-sizing globalmente */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f28297' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23f28297' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-family: "Saira", Arial, sans-serif;
  transition: background-color 0.5s ease;
}

/* Tema Oscuro Elegante */
body.dark-theme {
  --primary-color: #121212;      /* Elegant Black */
  --secondary-color: #1E1E1E;    /* Dark Panel Background */
  --text-color: #E0E0E0;         /* Soft White */
  --disabled-color: #424242;     /* Darker Gray */
  --success-color: #2E7D32;      /* Deep Green */
  --info-color: #BDBDBD;         /* Lighter Gray for text */
  --info-color: #c9b800;         /* Lighter Gray for text */

  --highlight-color: #C62828;    /* Elegant Deep Red */
  --marcaagua: rgba(255, 255, 255, 0.1);
  --opacidadgeneral: rgba(255, 255, 255, 0.05);
  --text-notes: rgba(223, 223, 223, 0.6);
  /* --text-placeholder: rgba(230, 230, 250, 0.6); */
  background-image: none;
  /* Remove the light theme background pattern */
}

/* Overrides para el tema oscuro para un acento rojo mínimo */

body.dark-theme .alarm__btn {
  color: var(--text-color);
}

body.dark-theme .actions__btn:hover {
    background-color: #9A0000;
}
body.dark-theme .alarm__btn:hover {
  background-color: var(--highlight-color);
  color: #FFFFFF;
}

body.dark-theme .kbs {
  box-shadow: 0px 2px 5px 1px #000;
}
body.dark-theme .kbs__title {
  color: var(--text-color);
}
body.dark-theme .kbs__input {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
body.dark-theme .kbs__input::placeholder {
  color: var(--text-notes);
}

body.dark-theme .kbs__list-title {
  color: var(--text-notes);
}
body.dark-theme .kbs__item {
  color: var(--text-notes);
}
button:nth-of-type(7) {
  background-color: #ffeaeb;
}

/********** ZONA HEADER - CABECERA *********/
.header {
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 1em;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.header__logo {
  cursor: pointer;
  font-size: 28px;
}

.header__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-svg {
  width: 2em;
  height: 2em;
  fill: var(--text-color);
  transition: fill 0.5s ease;
}

.header__nav {
  /* display: none; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 0;
  row-gap: 12px;

/* Propiedades clave para la animación de despliegue */
  max-height: 0;
  pointer-events: none; /* Evita interacciones cuando está cerrado */ 
  overflow: hidden;
  transition: max-height 0.6s ease-in-out, padding 0.5s ease-in-out;
  
  /* transition: all .5s ease; */
}
.header__nav.active {
  /* display: flex; */
  /* Estilo cuando el menú está activo */
  max-height: 500px; /* Un valor alto que cubra todo el contenido */
  padding-bottom: 1em; /* El padding que quieres para el menú visible */
  pointer-events: auto; /* Permite interacciones cuando está abierto */ 
}

.header__link {
  color: white;
}

@media (min-width: 768px) {
  .header {
    flex-wrap: nowrap;
  }
  .header__btn {
    display: none;
  }
  .header__nav {
    flex-direction: row;
    width: auto;
    column-gap: 15px;
    padding: 0;
    max-height: none; /* Anulamos el max-height para escritorio */
    overflow: visible; /* Anulamos el overflow para escritorio */
    pointer-events: auto; /* Aseguramos que siempre se pueda interactuar */
  }
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.actions {
  display: flex;
  gap: 15px;
  /* Manera moderna de separar elementos flexibles */
}

.actions__btn {
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  opacity: 0.95;
  padding: 8px 14px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  transition: background-color 0.5s ease, color 0.5s ease, opacity 0.3s ease;
}

.actions__btn:disabled {
  background-color: var(--disabled-color);
  color: #666666;
  cursor: not-allowed;
  opacity: 0.7;
}

.clock {
  display: flex;
  padding: 10px 20px;
  font-size: 2em;
  font-weight: 600;
  border-radius: 40px;
  background-color: var(--secondary-color);
  position: relative;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.clock::after {
  content: 'Vacomi™';
  position: absolute;
  top: 1px;
  left: 35px;
  font-size: 14px;
  color: var(--marcaagua)
}

.clock__item {
  position: relative;
  width: 60px;
  text-align: center;
  opacity: 0.75;
}

.clock__item:not(:last-child):not(:nth-child(3))::after {
  content: ':';
  position: absolute;
  right: -4px;
}

.clock__item:nth-child(2)::after {
  content: ':';
  position: absolute;
  right: -4px;
  animation: animate 1s steps(1) infinite;
}

@keyframes animate {
  50% {
    opacity: 0;
  }
}

#hour {
  color: var(--highlight-color);
}

#minutes {
  color: var(--info-color);
}

#seconds {
  color: var(--success-color);
}

#ampm {
  color: #fff;
  font-size: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.registro {
  width: 100%;
  max-width: 500px;
  color: var(--text-color);
  background-color: var(--secondary-color);
  opacity: 0.95;
  font-size: 16px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease;
}

.registro-item {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.75;
  flex-grow: 1;
  gap: 10px;
}

/* Estilo para el botón de eliminar 'x' */
.btn-eliminar-registro {
  background-color: red;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  padding: 0 6px 2px 6px;
  border-radius: 5px;
  border: none;
}

/* Clases de utilidad para colores */
.text-success {
  color: var(--success-color);
}

.text-info {
  color: #dee2e6;
}

.text-highlight {
  color: var(--highlight-color);
}

/****************************** Temporizador ***********************************/
.contenedor-util {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.temporizador {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin-top: 20px;
  padding: 20px 0;
  transition: background-color 0.5s ease;
}

.temporizador__opciones {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.temporizador__opcion {
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
}

.temporizador__opcion:hover {
  cursor: pointer;
}

.temporizador__opcion--seleccionado {
  background-color: var(--opacidadgeneral);
}

.temporizador__tiempo {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  transition: background-color 0.5s ease, box-shadow 0.3s ease;
}

.temporizador__pantalla {
  font-family: 'monospace', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(0, 255, 67, 0.4);
}

.temporizador__tiempo .temporizador__control {
  cursor: pointer;
  font-size: 40px;
  transition: transform 0.1s ease, color 0.3s ease;
}

.temporizador__tiempo .temporizador__control:hover {
  transform: scale(1.1);
  /* Efecto de escala al pasar el mouse */
}

#stop {
  display: none;
  color: var(--highlight-color);
}

#play {
  color: var(--success-color);
}

.contenedor {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.timer {
  display: inline-block;
  padding: 10px;
  width: 600px;
}

/* --- ESTILOS MODAL Y ALARMA --- */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__title {
  margin-bottom: 1em;
  font-size: 1.5em;
  color: #333;
  text-align: center;
}

.modal__element {
  margin-bottom: 1em;
}

.modal__element p {
  color: #333;
}

.modal__save {
  margin: 0 auto;
  display: block;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #555;
}

input[type="time"] {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.alarm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  transition: background-color 0.5s ease;
}

.alarm__btn {
  position: relative;
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  
  /* Background animado de degradado */
  background: linear-gradient(135deg, #3b004a, var(--highlight-color), #3b004a, var(--highlight-color));
  background-size: 400% 400%;
  animation: liquid-flow 15s ease infinite;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  border: 1px solid var(--highlight-color);
}

 /* Animación del fondo */
@keyframes liquid-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Efecto al pasar el cursor */
.alarm__btn:hover {
    transform: scale(1.05);
    color: white;
    box-shadow: 0 0 15px var(--highlight-color);
    background: linear-gradient(135deg, #3b004a, var(--highlight-color), #3b004a, var(--highlight-color));
    background-size: 400% 400%;
    animation: liquid-flow 5s ease infinite;
}

.alarm__section {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.alarm__item {
  display: flex;
  column-gap: 5px;
}

.alarm__description {
  font-size: 16px;
}
.alarm__time {
  font-size: 16px;
  font-weight: bold;
  color: var(--highlight-color);
}

.alarm__time--used {
  color: var(--disabled-color);
  text-decoration: line-through;
}

.alert {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

.alert__msj {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.alert__msj--default {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.alert button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.alert button:hover {
  background-color: #45a049;
}

#alertaModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2em;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

#alertaModal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Icono para cambiar color */
/* Estilo personalizado para el botón de cambio de tema */
#themeSwitcher {
  background-color: var(--secondary-color);
  /* color: var(--primary-color); */
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(21, 43, 74, 0.08);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

#themeSwitcher:hover {
  box-shadow: 0 4px 16px rgba(21, 43, 74, 0.18);
  /* background-color: var(--primary-color); */
  background-color: var(--text-color);
  /* color: var(--secondary-color); */
  color: var(--secondary-color);
}

/* Si usas Material Icons, asegúrate que el icono herede el color */
#themeSwitcher .material-icons {
  color: var(--secondary-color);
  transition: color 0.3s;
}

#themeSwitcher:hover .material-icons {
  color: var(--primary-color);
}

/* ZONA DE NOTAS */
.editable {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px auto;
  width: 100%;
  max-width: 800px;
}
@media (min-width: 600px) {
  .editable {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  
}
.bloc {
  height: 400px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  padding: .5rem .5rem 1rem .5rem;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: column;
}
.bloc__title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
  margin-bottom: .5rem;
}
.bloc__text {
  flex: 1;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-notes);
  border: none;
  outline: none;
  resize: none;
  padding: .5rem;
  border-radius: 10px;
  font-size: 0.95rem;
  font-family: "Saira", Arial, sans-serif;;
  line-height: 1.6;
  transition: all 0.3s ease;
}

.bloc__text::placeholder {
  color: var(--text-placeholder);
}

/* zona de kbS */
.kbs {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: .5rem;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  transition: background-color 0.5s ease;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}
.kbs__title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: .5rem;
}
.kbs__form {
  margin-bottom: 10px;
}
.kbs__fpart1 {
  display: flex;
  margin-bottom: 10px;
}
.kbs__fpart1 .kbs__input {
  margin-right: 10px;
  width: 40%; 
}
.kbs__fpart1 .kbs__btnAdd {
  width: 60%;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.kbs__btnAdd:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5),
    0px -3px 5px rgba(0, 0, 0, 0.5);
}

.kbs__input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  font-style: italic;
  color: var(--secondary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.kbs__input::placeholder {
  color: var(--text-placeholder);
}
.kbs__input:focus {
  box-shadow: 0 0 10px var(--highlight-color);
  border: 1px solid var(--highlight-color);
}
.kbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.kbs__list-title{
  margin-bottom: 5px;
  text-align: center;
}
.kbs__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px;
  font-size: 14px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  transition: all 0.3s;
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.kbs__info {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.kbs__number {
  font-weight: bold;
  color: var(--highlight-color);
}
.kbs__actions {
  display: flex;
  gap: 0.5rem;
  border-radius: 5px;
}
.kb-action-btn {
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.copy-btn:hover {
  color: var(--success-color);
}
.edit-btn:hover {
  color: var(--info-color);
}
.delete-btn:hover {
  color: var(--highlight-color);
}
